* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

.playfiar {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: #96B6C5;
    position: fixed;
    z-index: 10;
    width: 100%;
}

header * {
    padding: 1rem;
    color: #FFFFFF;
}

main {
    padding-top: 5rem;
    background-color: #F1F0E8;
}

footer {
    background-color: #F1F0E8; 
}
